/* .wrapper{

    width: 320px;
    display: grid;
    grid-template-columns: 200px 100px;
    background-color: lightskyblue;
    border: 5px solid darkblue;
}

button{
    display: block;
    border-radius: 50px;
    border: none;
    padding: 9px 25px;
}
#subject{
    border: none;
    background-color:lightskyblue;
}
.wrapperBtn{
    display: grid;
    height: 300px;
    width: 100px;
    background-color: black;
    padding: 10px;
}
.wrapperBtn button{
    margin-bottom: 38px;
    padding-top: 20px;
    text-align: center;
}
textarea{
    width: 310px;
}
i{
    position: absolute;
    top: 10px;
    left: 310px;
}
.done{
    position: absolute;
    top: 280px;
    left: 70px;
} */

 
 .taskAddedContainer{
    height: 200px;
    width: 200px;
    background-color: lightskyblue;
    border-radius:10px;
    text-align: center;
}
.changeColor{
    height: 20px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
} 